<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.feedhenry.plugins.monkeytalk"
        version="0.0.3">

        <name>MonkeyTalk</name>

                <description>
                        This plugin allows you to enable MonkeyTalk test framework
                </description>

                <license>MIT</license>

        <engines>
                <engine name="cordova" version=">=2.8.0" />
        </engines>

        <!-- ios -->
        <platform name="ios">
                <source-file src="src/ios/libMonkeyTalk-2.0.3.a" framework="true" />
                <framework src="libstdc++.6.0.9.dylib" />
                <framework src="libsqlite3.dylib" />
                <framework src="CFNetwork.framework" />
                <framework src="QuartzCore.framework" />
        </platform>

        <!-- android -->
        <platform name="android">
                <config-file target="AndroidManifest.xml" parent="/manifest">
                        <uses-permission android:name="android.permission.INTERNET" />
                        <uses-permission android:name="android.permission.GET_TASKS" />
                </config-file>
                <source-file src="src/android/monkeytalk-agent.jar" target-dir="libs/" />
                <source-file src="src/android/aspectjrt.jar" target-dir="aspectj/lib/" />
                <source-file src="src/android/aspectjtools.jar" target-dir="aspectj/lib/" />
                <source-file src="src/android/aspectjweaver.jar" target-dir="aspectj/lib/" />
                <source-file src="src/android/custom_rules.xml" target-dir=""/>
        </platform>

</plugin>